<!--footer start-->
<footer class="site-footer">
    <div class="text-center">
        2017 - PT. Lintas Media Danawa
        <a href="index.html#" class="go-top">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>
</footer>
<!--footer end-->

  <!-- js placed at the end of the document so the pages load faster -->
  {%load staticfiles%}
    <script src="{% static 'assets/js/jquery.js' %}"></script>
    <script src="{% static 'assets/js/jquery-1.8.3.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script class="include" type="text/javascript" src="{% static 'assets/js/jquery.dcjqaccordion.2.7.js' %}"></script>
    <script src="{% static 'assets/js/jquery.scrollTo.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.nicescroll.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/js/jquery.sparkline.js' %}"></script>


    <!--common script for all pages-->
    <script src="{% static 'assets/js/common-scripts.js' %}"></script>
    
    <script type="text/javascript" src="{% static 'assets/js/gritter/js/jquery.gritter.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/gritter-conf.js' %}"></script>

    <!--script for this page-->
    <script src="{% static 'assets/js/sparkline-chart.js' %}"></script>    
    <script src="{% static 'assets/js/zabuto_calendar.js' %}"></script>    
    
    <script type="text/javascript">
        $(document).ready(function () {
        var unique_id = $.gritter.add({
            // (string | mandatory) the heading of the notification
            title: 'Welcome to Mozysms',
            // (string | mandatory) the text inside the notification
            text: 'applikasi ini hanya untuk keperluan demo, dan akan segera di release untuk pertanyaan lebih lanjut <a href="http://lintasmediadanawa.com" target="_blank" style="color:#ffd777">Lintas Media Danawa</a>.',
            // (string | optional) the image to display on the left
            image: "{% static 'assets/img/ui-sam.jpg' %}" ,
            // (bool | optional) if you want it to fade out on its own or just sit there
            sticky: true,
            // (int | optional) the time you want it to be alive for before fading out
            time: '',
            // (string | optional) the class name you want to apply to that specific message
            class_name: 'my-sticky-class'
        });

        return false;

        });
    </script>
    
    <script type="application/javascript">
        $(document).ready(function () {
            $("#date-popover").popover({html: true, trigger: "manual"});
            $("#date-popover").hide();
            $("#date-popover").click(function (e) {
                $(this).hide();
            });
        
            $("#my-calendar").zabuto_calendar({
                action: function () {
                    return myDateFunction(this.id, false);
                },
                action_nav: function () {
                    return myNavFunction(this.id);
                },
                ajax: {
                    url: "show_data.php?action=1",
                    modal: true
                },
                legend: [
                    {type: "text", label: "Special event", badge: "00"},
                    {type: "block", label: "Regular event", }
                ]
            });
        });
        
        
        function myNavFunction(id) {
            $("#date-popover").hide();
            var nav = $("#" + id).data("navigation");
            var to = $("#" + id).data("to");
            console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
        }
    </script>