<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta niame="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>{% block title %} {% endblock %}</title>
    {%load staticfiles%}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet">
    <!--external css-->
    <link href="{% static 'assets/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/zabuto_calendar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/js/gritter/css/jquery.gritter.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/lineicons/style.css' %}">    
    
    <!-- Custom styles for this template -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/style-responsive.css' %}" rel="stylesheet">

    {%block css_header %}
    {% endblock %}
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="{% static 'assets/js/chart-master/Chart.js' %}"></script>    
    
    
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block js_header %}
    {% endblock %}
  </head>

  <body>    
    <section id="container" ><!-- start container -->
    {% block header%}
    {% endblock %}

    {% block sidebar %}
    {% endblock%}

    {% block main_content%}
    {% endblock %}

    {% block footer %}
    {% endblock %}
    
    {% block js_footer %}
    {%endblock%}
    </section> <!-- endcontainer -->
  </body>
</html>
