 <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
              	  <p class="centered"><a href="#"><img src="/static/assets/img/ui-sam.jpg" class="img-circle" width="60"></a></p>
                  {% if user.is_authenticated %}
              	  <h5 class="centered">{{ user.username }}</h5>
                  {% else %}
                  <h5 class="centered">Hello LMDders</h5>
                  {% endif %}
              	  	
                  <li class="mt">
                      <a class="active" href="/home">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-desktop"></i>
                          <span>Log</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="/log/message">Message Log</a></li>
                          <!-- <li><a  href="/log/antrian">Antrian Log</a></li> -->                          
                      </ul>
                  </li>
                   <!-- <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-desktop"></i>
                          <span>Setting</span>
                      </a>
                      <ul class="sub">
                          <li><a href="/keyword">Keyword</a></li>
                          <li><a  href="/settinggeneral">General</a></li>
                          <li><a  href="/settingpoli">Poli</a></li>                          
                          <li><a  href="/settingflood">Anti Flooding</a></li>                          
                          
                      </ul>
                  </li> -->

                  <!-- <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-cogs"></i>
                          <span>Block</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="/blacklist">Black List Nomor</a></li>
                          
                          
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-book"></i>
                          <span>Tools</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="/httptester" target="_blank" >Message Tester</a></li>
                          <li><a  href="/messagelog" target="_blank">Message Log</a></li>
                          <li><a  href="/messaging" target="_blank">Messaging</a></li>
                          <li><a  href="/registration" target="_blank">registration</a></li>
                      </ul>
                  </li> -->
                 

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->