{%extends "v1/shared/layout.html" %}
{% block main_content%} 
<section id="main-content">
          <section class="wrapper">
          	<h3><i class="fa fa-angle-right"></i> BlackList Nomor</h3>
          	
          	<!-- BASIC FORM ELELEMNTS -->
          	<div class="row mt">
          		<div class="col-lg-12">
                  <div class="form-panel">
                  	  <h4 class="mb"><i class="fa fa-angle-right"></i> Add Black List Number</h4>
                      <form class="form-horizontal style-form" method="post">
                      {%csrf_token%}
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Phone Number</label>
                              <div class="col-sm-3">
                                  <input type="text" class="form-control" name="no_telp">
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Reason to Block</label>
                              <div class="col-sm-3">
                                  <textarea class="form-control" name="reason"> </textarea> 
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Actions</label>
                              <div class="col-sm-3">
                                  <input type="submit" value="Tambah" class="btn btn-primary">
                              </div>
                          </div>
                         
                      </form>
                  </div>
          		</div><!-- col-lg-12-->      	
          	</div><!-- /row -->          	
          
          <div class="row mt">
                  <div class="col-md-12">
                      <div class="content-panel">
                          <table class="table table-striped table-advance table-hover">
                            <h4><i class="fa fa-angle-right"></i> Black List Number</h4>
                            <hr>
                              <thead>
                              <tr>
                                  <th><i class="fa fa-bullhorn"></i> number</th>
                                  <th class="hidden-phone"><i class="fa fa-question-circle"></i> reason</th>
                                  <th><i class="fa fa-bookmark"></i> status</th>
                                  <th><i class=" fa fa-edit"></i> date</th>
                                  <th></th>
                              </tr>
                              </thead>
                              <tbody>
                              {%for b in blacklists %}
                                <tr>
                                  <td><a href="basic_table.html#">{{b.no_telp}}</a></td>
                                  <td class="hidden-phone">{{b.reason}}</td>                                  
                                  <td><span class="label label-info label-mini">{{b.is_enable}}</span></td>
                                  <td>{{b.created_at}}</td>
                                  <td>
                                      <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                      <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                      <a href="/blacklist/{{b.id}}/delete" class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></a>
                                  </td>
                                </tr>
                              {%endfor%}
                             
                              </tbody>
                          </table>
                      </div><!-- /content-panel -->
                  </div><!-- /col-md-12 -->
              </div><!-- /row -->
          	
          	
		  </section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->
{%endblock%}

{%block header%}
  {% include "v1/shared/header.html" %}
{% endblock%}

{% block sidebar %}
  {% include 'v1/shared/sidebar.html' %}
{% endblock %}

{% block title%}
  MozySMS
{% endblock %}

{% block css_header %}
{% endblock %}

{% block js_header %}
{% endblock %}

{% block footer %}
  {% include "v1/shared/footer.html" %}
{% endblock %}

{% block js_footer %}
{% endblock %}