{%extends "v1/shared/layout.html" %}
{% block main_content%} 
<section id="main-content">
	<section class="wrapper">
		<div class="row mt">
			<div class="col-lg-12">
				<div class="form-panel">
				<form method="POST" role="form" id="main_form" enctype="multipart/form-data">
					{% csrf_token %}
						<div class="form-group">
							{{ form.as_p }} 
						</div>
						<div class="box-footer">
							<button type="submit" class="btn btn-primary">Save</button>
						</div>
				</form>
				</div>
			</div>
		</div>
	</section>
</section>
	

{%endblock%}

{%block header%}
  {% include "v1/shared/header.html" %}
{% endblock%}

{% block sidebar %}
  {% include 'v1/shared/sidebar.html' %}
{% endblock %}

{% block title%}
  MozySMS
{% endblock %}

{% block css_header %}
{% endblock %}

{% block js_header %}
{% endblock %}

{% block footer %}
  {% include "v1/shared/footer.html" %}
{% endblock %}

{% block js_footer %}
{%load staticfiles%}
 
  

{% endblock %}