{%extends "v1/shared/layout.html" %}
{% block main_content%} 
<section id="main-content">
	<section class="wrapper">
		<h3><i class="fa fa-angle-right"></i> KEYWORD </h3>
		<div class="row mt">
			<div class="col-lg-12">
				<div class="form-panel">
				<div class="box-header">
					<div class="box-tools">
						<a href="/keyword/new" class="btn btn-primary pull-right" >NEW (<span class="glyphicon glyphicon-plus"></span>)</a>
					</div>
				</div>
				<div class="box-body">
					<table id="catg" class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>No. </th>
								<th>Message Request</th>
								<th>Response True</th>
								<th>Response False</th>
								<th>Number Receiver</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							{% for keyword in keyword%}
								<tr>
									<td>{{keyword.id}}</td>
									<td>{{keyword.message_request}}</td>
									<td>{{keyword.message_response_true}}</td>
									<td>{{keyword.message_response_false}}</td>
									<td>{{keyword.number_receiver}}</td>
									<td align="center">
										<span><a href="{% url 'keyword_edit' pk=keyword.pk %}" class="btn bg-navy btn-flat btn-xs" >Edit</span></a>
					                </td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				</div>
			</div>
		</div>
	</section>
</section>
	

{%endblock%}

{% block scripjv %}
<script>
  $(function () {
    $('#catg').DataTable({
      "pageLength": 10,
      "paging": true,
      "lengthChange": false,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false
    });
  });
</script>
{% endblock %}

{%block header%}
  {% include "v1/shared/header.html" %}
{% endblock%}

{% block sidebar %}
  {% include 'v1/shared/sidebar.html' %}
{% endblock %}

{% block title%}
  MozySMS
{% endblock %}

{% block css_header %}
{% endblock %}

{% block js_header %}
{% endblock %}

{% block footer %}
  {% include "v1/shared/footer.html" %}
{% endblock %}

{% block js_footer %}
{%load staticfiles%}
 
  

{% endblock %}