{%extends "v1/shared/layout.html" %}
{% block main_content%} 
 <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
          	<h3><i class="fa fa-angle-right"></i>SMS LOG</h3>
				<div class="row">
				
	                  <div class="col-md-12">
	                  	  <div class="content-panel">
	                  	  	  <h4><i class="fa fa-angle-right"></i> Daftar Semua SMS yang masuk</h4>
	                  	  	  <hr>
		                      <table class=" table-bordered table-striped table-condensed table-hover">
		                          <thead>
		                          <tr>
		                              <th>#</th>
		                              <th>Nomor MR</th>
		                              <th>Nama Lengkap</th>
		                              <th>Target Poli</th>		                              
		                              <th>Nomor Antrian</th>
		                              <th>Visit Date</th>
		                              <th>Kode Booking</th>
		                              <th>Created At</th>
                                  	  
		                          </tr>
		                          </thead>
		                          <tbody>
		                       	  {%if antrians%}
		                       	  	{%for a in antrians %}
	                                <tr>
	                                  <td>1</td>
	                                  <td>{{a.no_mr}}</td>
	                                  <td>{{a.nama_lengkap}}</td>
	                                  <td>{{a.target_poly}}</td>
	                                  <td>{{a.no_antrian}}</td>
	                                  <td>{{a.visit_date}}</td>
	                                  <td>{{a.kode_booking}}</td>
	                                  <td>{{a.created_at}}</td>

	                                </tr>
	                              	{%endfor%}
	                              {%else%}
	                              	<tr>
	                              	Tidak data yang di temukan
	                              	</tr>
		                       	  {%endif%}
			                      
		                          </tbody>
		                      </table>
	                  	  </div><! --/content-panel -->
	                  </div><!-- /col-md-12 -->
                  
	               
				</div><!-- row -->

             

		</section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->

{%endblock%}

{%block header%}
  {% include "v1/shared/header.html" %}
{% endblock%}

{% block sidebar %}
  {% include 'v1/shared/sidebar.html' %}
{% endblock %}

{% block title%}
  MozySMS
{% endblock %}

{% block css_header %}
{% endblock %}

{% block js_header %}
{% endblock %}

{% block footer %}
  {% include "v1/shared/footer.html" %}
{% endblock %}

{% block js_footer %}
{% endblock %}