{%extends "v1/shared/layout.html" %}
{% block main_content%} 
<section id="main-content">
  <section class="wrapper">
  	<h3><i class="fa fa-angle-right"></i>SMS LOG</h3>
		<div class="row">
              <div class="col-md-12">
              	  <div class="form-panel">
              	  		<div class="box-head">
							<h4><i class="fa fa-angle-right"></i> Daftar Semua SMS yang masuk</h4>
						</div>
              	  		<form method="POST" action="/log/post-message/">
							{% csrf_token %}
							<label for="Nomor">Nomor HP</label>
								<input type="text" id="nomor" name="nomor" />
							<label for="start_date">Start Date</label>
								<input type="date" id="start_date" name="start_date" required />
							<label for="end_date">End Date</label>
								<input type="date" id="end_date" name="end_date" required />
							<input type="submit" value="Search"/>
						</form>
              	  </div>
              </div>
		</div>
	</section>
</section>
{%endblock%}

{%block header%}
  {% include "v1/shared/header.html" %}
{% endblock%}

{% block sidebar %}
  {% include 'v1/shared/sidebar.html' %}
{% endblock %}

{% block title%}
  MozySMS
{% endblock %}

{% block css_header %}
{% endblock %}

{% block js_header %}
{% endblock %}

{% block footer %}
  {% include "v1/shared/footer.html" %}
{% endblock %}

{% block js_footer %}
{% endblock %}