{%extends "v1/shared/layout.html" %}
{% block main_content%} 
<section id="main-content">
          <section class="wrapper">
          	<h3><i class="fa fa-angle-right"></i> Poli</h3>
          	
          	<!-- BASIC FORM ELELEMNTS -->
          	<div class="row mt">
          		<div class="col-lg-12">
                  <div class="form-panel">
                  	  <h4 class="mb"><i class="fa fa-angle-right"></i> Master Poli dan Parameter</h4>
                      {% if form.subject.errors %}
                          <ol>
                          {% for error in form.subject.errors %}
                              <li><strong>{{ error|escape }}</strong></li>
                          {% endfor %}
                          </ol>
                      {% endif %}
                      <div class="panel">
                        {% for field in form %}
                       {{ field.label_tag }} {{ field.errors }} 
                      {% endfor %}
                      </div>
                      <form class="form-horizontal style-form" method="post">
                          {%csrf_token%}
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Kode Poli</label>
                              <div class="col-sm-2">
                                  <input type="text" class="form-control" name="kode_poli">
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Nama</label>
                              <div class="col-sm-3">
                                  <input type="text" class="form-control" name="nama">
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">SMS Max Day Before Visit</label>
                              <div class="col-sm-3">
                                  <input type="number" max='7' min='0' class="form-control" name="max_day_before_visit">
                              </div>
                          </div>

                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Nomor Antrian Maximum</label>
                              <div class="col-sm-2">
                                  <input type="number" class="form-control" name="no_antrian_max">
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Nomor Antrian Minimum</label>
                              <div class="col-sm-2">
                                  <input type="number" class="form-control" name="no_antrian_min">
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Jumlah Nomor Antrian yang Bisa Digunakan</label>
                              <div class="col-sm-2">
                                  <input type="number" class="form-control" name="jumlah_nomor">
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-lg-2 col-sm-2 control-label">Actions</label>
                              <div class="col-lg-10">
                                  <p class="form-control-static">
                                    <button class="btn btn-primary">Tambah</button>
                                  </p>
                              </div>
                          </div>
                      </form>
                  </div>
          		</div><!-- col-lg-12-->      	
          	</div><!-- /row -->          	
          
          <div class="row mt">
                  <div class="col-md-12">
                      <div class="content-panel">
                          <table class="table table-striped table-advance table-hover">
                            <h4><i class="fa fa-angle-right"></i> Advanced Table</h4>
                            <hr>
                              <thead>
                              <tr>
                                  <th><i class="fa fa-bullhorn"></i> kode poli</th>
                                  <th class="hidden-phone"><i class="fa fa-question-circle"></i> nama</th>
                                  <th><i class=" fa fa-edit"></i> Status</th>
                                  <th><i class="fa fa-bookmark"></i> max day before visit</th>
                                  <th><i class="fa fa-bookmark"></i> no antrian max</th>
                                  <th><i class="fa fa-bookmark"></i> no antrian min</th>
                                  <th><i class="fa fa-bookmark"></i> jumlah nomor yg tersedia</th>
                                  <th><i class="fa fa-bookmark"></i> datetime</th>
                                  <th></th>
                              </tr>
                              </thead>
                              <tbody>
                              {%for p in polis%}
                               <tr>
                                  <td><a href="basic_table.html#">{{p.kode_poli}}</a></td>
                                  <td class="hidden-phone">{{p.nama}}</td>
                                  <td><span class="label label-info label-mini">{{p.is_enable}}</span></td>
                                  <td>{{p.max_day_before_visit}}</td>
                                  <td>{{p.no_antrian_max}}</td>
                                  <td>{{p.no_antrian_min}}</td>
                                  <td>{{p.jumlah_nomor}}</td>
                                  <td>{{p.updated_at}}</td>
                                  
                                  <td>
                                      <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                      <a href="/settingpoli/{{p.kode_poli}}/edit" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                                      <a href="/settingpoli/{{p.kode_poli}}/delete" class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i>
                                  </td>
                              </tr>
                              {%endfor%}
                             
                             
                              </tbody>
                          </table>
                      </div><!-- /content-panel -->
                  </div><!-- /col-md-12 -->
              </div><!-- /row -->
          	
          	
		  </section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->
{%endblock%}

{%block header%}
  {% include "v1/shared/header.html" %}
{% endblock%}

{% block sidebar %}
  {% include 'v1/shared/sidebar.html' %}
{% endblock %}

{% block title%}
  MozySMS
{% endblock %}

{% block css_header %}
{% endblock %}

{% block js_header %}
{% endblock %}

{% block footer %}
  {% include "v1/shared/footer.html" %}
{% endblock %}

{% block js_footer %}
{% endblock %}