{%extends "v1/shared/layout.html" %}
{% block main_content%} 

<section id="main-content">
  <section class="wrapper">
  	<h3><i class="fa fa-angle-right"></i>SMS LOG</h3>
		<div class="row">
			<div class="col-lg-12">
				<div class="form-panel">
					<div class="box-head">
						<h4><i class="fa fa-angle-right"></i> Daftar Semua SMS yang masuk</h4>
					</div>
					<hr>
					<div class="box-body">
						<div id="count">
								Total SMS yang Masuk {{count}}
						</div>
						<table id="log" class="table table-bordered table-hover">
							<thead>
								<tr>
									<th>ID</th>
									<th>Phone Number</th>
									<th>Date</th>
									<th>Message</th>
								</tr>
							</thead>
							<tbody>
								{% for m in messages %}
									<tr>
										<td>{{m.pk}}</td>
										<td>{{m.connection.identity}}</td>
										<td>{{m.date}}</td>
										<td>{{m.text}}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>

{%endblock%}

{%block header%}
  {% include "v1/shared/header.html" %}
{% endblock%}

{% block sidebar %}
  {% include 'v1/shared/sidebar.html' %}
{% endblock %}

{% block title%}
  MozySMS
{% endblock %}

{% block css_header %}
{% endblock %}

{% block js_header %}
{% endblock %}

{% block footer %}
  {% include "v1/shared/footer.html" %}
{% endblock %}

{% block js_footer %}
{% endblock %}