{%extends "v1/shared/layout.html" %}
{% block main_content%} 

{% load appsettinga_filter %}
<section id="main-content">
          <section class="wrapper">
          	<h3><i class="fa fa-angle-right"></i> GENERAL SETTINGs</h3>
          	
          	<!-- BASIC FORM ELELEMNTS -->
          	<div class="row mt">
          		<div class="col-lg-12">
                  <div class="form-panel">
                  	  <h4 class="mb"><i class="fa fa-angle-right"></i> SMS Start And Finished</h4>
                      <form class="form-horizontal style-form" method="post">
                        {%csrf_token%}
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Time SMS To Start</label>
                              <div class="col-sm-2">
                                  <input type="number" name="start_hour" min=0 max=23 value="{{'SMS_TIME2START' | get_appsetting | get_jam}}">
                              </div>
                              <div class="col-sm-2">
                                  <input type="number" name="start_minute" min=0 max=60 value="{{'SMS_TIME2START' | get_appsetting | get_menit}}">
                              </div>

                          </div>
                           <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Time SMS To Finish</label>
                              <div class="col-sm-2">
                                  <input type="number" name="finish_hour" min=0 max=23 value="{{'SMS_TIME2STOP' | get_appsetting | get_jam}}">
                              </div>
                              <div class="col-sm-2">
                                  <input type="number" name="finish_minute" min=0 max=60 value="{{'SMS_TIME2STOP' | get_appsetting | get_menit}}">
                              </div>                             
                          </div>
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Max Day Before Visit</label>
                              <div class="col-sm-2">
                                  <input type="number" name="sms_max_day_before_visit" min=0 max=30 value="{{'SMS_MAX_DAY_BEFORE_VISIT' | get_appsetting }}">
                              </div>
                                                     
                          </div>
                         
                          <div class="form-group">
                              <label class="col-lg-2 col-sm-2 control-label">Action</label>
                              <div class="col-lg-10">
                                  <input type="submit" class="btn btn-primary" name="app_time_form" value="simpan">
                              </div>
                          </div>
                      </form>
                  </div>
          		</div><!-- col-lg-12-->      	
          	</div><!-- /row -->  
              <div class="row mt">
              <div class="col-lg-12">
                  <div class="form-panel">
                      <h4 class="mb"><i class="fa fa-angle-right"></i> Message Setting</h4>
                      <form class="form-horizontal style-form" method="post">
                        {%csrf_token%}
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">SMS Help Text</label>
                              <div class="col-sm-10">
                                  <textarea name="SMS_HELP_MESSAGE">{{'SMS_HELP_MESSAGE' | get_appsetting}}</textarea>
                              </div>                            

                          </div>
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">SMS Response No Antrian</label>
                              <div class="col-sm-10">
                                  <textarea name="SMS_RESP_NO_ANTRIAN">{{'SMS_RESP_NO_ANTRIAN' | get_appsetting}}</textarea>
                              </div>  
                          </div>
                         
                        <div class="form-group">
                              <label class="col-lg-2 col-sm-2 control-label">Action</label>
                              <div class="col-lg-10">
                                  <input type="submit" class="btn btn-primary" name="msg_setting_form" value="simpan">
                              </div>
                          </div>
                           
                      </form>
                  </div>
              </div><!-- col-lg-12-->       
            </div><!-- /row -->  

             <div class="row mt">
              <div class="col-lg-12">
                  <div class="form-panel">
                      <h4 class="mb"><i class="fa fa-angle-right"></i> Black List Setting</h4>
                      <form class="form-horizontal style-form" method="post">
                        {%csrf_token%}
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Default Response Text</label>
                              <div class="col-sm-10">
                                  <textarea name="BLACKLIST_DEFAULT_RESP_TEXT">{{'BLACKLIST_DEFAULT_RESP_TEXT'| get_appsetting}}</textarea>                              
                              </div>                            
                          </div>
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Response Mode</label>
                               <div class="col-sm-10">
                                  <select name="RESPONSE_BLACKLIST_MODE">                                 
                                    <option value="0">Silent (Saving Your Credit)</option>
                                    <option value="1">Send Response Text (Just Sending Text Above)</option>
                                    <option value="2">Send Reason Block (Just Sending Reason to block)</option>
                                    <option value="3">Send Both Response Text and Reason</option>
                                  </select>
                                  
                              </div>                           

                          </div>

                          <div class="form-group">
                              <label class="col-lg-2 col-sm-2 control-label">Action</label>
                              <div class="col-lg-10">
                                  <input type="submit" class="btn btn-primary" name="bl_setting_form" value="simpan">
                              </div>
                          </div>
                           
                      </form>
                  </div>
              </div><!-- col-lg-12-->       
            </div><!-- /row -->  
          	
		  </section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->
{%endblock%}

{%block header%}
  {% include "v1/shared/header.html" %}
{% endblock%}

{% block sidebar %}
  {% include 'v1/shared/sidebar.html' %}
{% endblock %}

{% block title%}
  MozySMS
{% endblock %}

{% block css_header %}
{% endblock %}

{% block js_header %}
{% endblock %}

{% block footer %}
  {% include "v1/shared/footer.html" %}
{% endblock %}

{% block js_footer %}
{%load staticfiles%}
 
  

{% endblock %}