{%extends "v1/shared/layout.html" %}
{% block main_content%} 

{% load appsettinga_filter %}
<section id="main-content">
          <section class="wrapper">
          	<h3><i class="fa fa-angle-right"></i> Filter</h3>
          	
          	<!-- BASIC FORM ELELEMNTS -->
          	<div class="row mt">
          		<div class="col-lg-12">
                  <div class="form-panel">
                  	  <h4 class="mb"><i class="fa fa-angle-right"></i> Filter Anti Flooding</h4>
                      <form class="form-horizontal style-form" method="post">
                        {%csrf_token%}
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Enable Anti Flooding</label>
                              <div class="col-sm-10">
                                  <input id="ANTI_FLOODING_ENABLE" name="ANTI_FLOODING_ENABLE" type="checkbox"  data-toggle="switch" {{'ANTI_FLOODING_ENABLE'| attr_ischeckboxchecked }} />
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Enable Response Anti Flooding</label>
                              <div class="col-sm-10">
                                   <input id="RESPONSE_ANTI_FLOODING_ENABLE" name="RESPONSE_ANTI_FLOODING_ENABLE" type="checkbox"  data-toggle="switch" {{'RESPONSE_ANTI_FLOODING_ENABLE'| attr_ischeckboxchecked }}/>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Response Anti Flooding Text</label>
                              <div class="col-sm-10">
                                  <textarea name="RESPONSE_ANTI_FLOODING_TEXT" class="form-control">{{'RESPONSE_ANTI_FLOODING_TEXT' | get_appsetting}}</textarea>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Response Mode</label>
                              <div class="col-sm-10">
                                  <select name="RESPONSE_ANTI_FLOODING_MODE">
                                    <option value="0">Silent</option>
                                    <option value="1">Send Response Text</option>
                                    <option value="2">Send Reason Block</option>
                                    <option value="3">Send Both Response Text and Reason</option>
                                  </select>
                                  
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Anti Flooding Threshold</label>
                              <div class="col-sm-3">
                                  <input type="number" class="form-control" value="{{'ANTI_FLOODING_THRESHOLD' | get_appsetting}}" name="ANTI_FLOODING_THRESHOLD">
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-lg-2 col-sm-2 control-label">Static control</label>
                              <div class="col-lg-10">
                                  <input type="submit" class="btn btn-primary">
                              </div>
                          </div>
                      </form>
                  </div>
          		</div><!-- col-lg-12-->      	
          	</div><!-- /row -->    

                   	
          
          	
          	
		  </section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->
{%endblock%}

{%block header%}
  {% include "v1/shared/header.html" %}
{% endblock%}

{% block sidebar %}
  {% include 'v1/shared/sidebar.html' %}
{% endblock %}

{% block title%}
  MozySMS
{% endblock %}

{% block css_header %}
{% endblock %}

{% block js_header %}
{% endblock %}

{% block footer %}
  {% include "v1/shared/footer.html" %}
{% endblock %}

{% block js_footer %}
{%load staticfiles%}
 
  

{% endblock %}