/*
@license
webix UI v.2.3.1
This software is can be used only as part of webix.com site
You are not allowed to copy this file and use in any other project
*/.webix_kanban_list{background-color:#f5f5f5}
.webix_kanban_list_item{position:relative}
.webix_kanban_list_item,.webix_kanban_list_item.webix_selected{background-color:#f5f5f5;padding:4px 8px 5px;border:none}
.webix_kanban_list.webix_drag_over .webix_kanban_list_item,.webix_kanban_list_item.webix_drag_over{background-color:#d2e3ef}
.webix_kanban_list_content{box-sizing:border-box;background-color:#fff;padding:0 7px;border-radius:2px;border:1px solid #e2e2e2;border-left:3px solid #27ae60;box-shadow:#ddd 2px 2px 3px}
.webix_kanban_list_item.webix_selected .webix_kanban_list_content{background:#def1fe;color:#555}
.webix_kanban_body{min-height:25px;overflow:hidden;padding:5px 22px 5px 0}
.webix_kanban_list_item .webix_kanban_footer{height:auto;line-height:20px;display:-webkit-box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:-ms-flex;display:flex;-webkit-flex-wrap:wrap;-moz-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-justify-content:space-between;-moz-justify-content:space-between;-ms-justify-content:space-between;justify-content:space-between;border-top:1px solid #ddd;border-top:1px solid rgba(0,0,0,.08);padding:2px 0}
.webix_kanban_icons,.webix_kanban_tags{overflow:hidden;-webkit-flex:initial;-moz-flex:initial;-ms-flex:initial;flex:initial;-webkit-box-flex:1}
.webix_kanban_icons{text-align:right}
.webix_ie .webix_kanban_icons,.webix_ie .webix_kanban_tags{display:inline-block}
.webix_ie .webix_kanban_icons{float:right}
.webix_kanban_list_item .webix_kanban_footer .webix_icon{color:#888;width:18px;margin-left:2px;text-align:center;padding:2px 0;font-size:13px}
.webix_kanban_list_item .webix_kanban_footer .webix_kanban_icon:hover{background-color:rgba(0,0,0,.05);border-radius:2px;color:#3498d8}
.webix_kanban_list_item .webix_kanban_footer .webix_icon:hover{color:#3498d8}
.webix_kanban_list_item .webix_kanban_tag{font-size:13px;margin:0 2px 0 0;overflow:hidden;background:rgba(0,0,0,.08);padding:0 3px;border-radius:2px}
.webix_kanban_icon_text{font-size:11px;position:relative;top:3px}
.webix_kanban_user_avatar{width:22px;height:22px;position:absolute;right:13px;top:10px;background:#eee;background:rgba(0,0,0,.08);text-align:center;border-radius:2px;overflow:hidden}
.webix_kanban_user_avatar:hover{box-shadow:#3498d8 0 0 1px 1px}
.webix_kanban_user_avatar .webix_icon{color:#d3d9dc;color:rgba(0,0,0,.2);font-size:19px;vertical-align:top;margin-top:2px;text-align:center}
.webix_kanban_drag_zone,.webix_kanban_drag_zone .webix_kanban_list_item{background:0 0!important;box-shadow:none;border:none}