<li><a href="{% url 'message_log' %}">Message Log</a></li>
<li><a href="{% url 'registration' %}">Registration</a></li>
<li><a href="{% url 'messaging' %}">Messaging</a></li>
<li><a href="{% url 'httptester-index' %}">Message Tester</a></li>
<li><a href="{% url 'antrian' %}">Daftar Antrian</a></li>
