<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto+Mono&effect=shadow-multiple">
    {%load staticfiles%}
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery-1.9.1.js' %}"></script>
    <script src="{% static 'antrian/js/monitor.js' %}"></script>    
   </head>
   <style type="text/css">
      .panel-heading {
        text-align: center;
        font-weight: bold;
      }

      #no_antrian, #layanan_id, #nama_layanan {
        text-align: center;
        font-size: 50px;
        font-weight: bold;
        color: red;
      }
      .container {
        margin-top: 10%;
      }
      .font {
        font-family: 'Roboto Mono';
        font-size: 50px;
        font-weight: bold;
      }
      body {
        background-color: grey;
        font-family: 'Roboto Mono';
      }
      .logo-bottom {
        position: fixed;
        left: 0px;
      }
      .panel-heading {
        font-weight: bold;
        text-transform: uppercase;
        background-color: rgb(0, 181, 216);
      }
      .panel-body {
        height: auto;
        min-height: 75px;
      }
      .btn-lg {
        margin-top: 5px;
      }
   </style>

   <body>
    <div class="navbar navbar-default navbar-fixed-top">
        <center><div class="font font-effect-shadow-multiple">SELAMAT DATANG</div></center>
    </div>

    <!--content-->
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              Pilih Layanan
            </div>
            <div class="panel-body">
              {%for layanan in layanans %}
              <button kodelayanan="{{layanan.kode_poli}}" namalayanan="{{layanan.nama_poli}}" class="btn btn-primary btn-lg"><b>{{layanan.nama}}</b></button>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-danger">
            <div class="panel-heading">
              Nomor Anda
            </div>
            <div class="panel-body">
              <div id="no_antrian"></div>
              <div id="nama_layanan"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--content end-->

    <!--start footer-->
    <div class="navbar navbar-default navbar-fixed-bottom font">
      <span class="logo-bottom"><img src="{% static 'assets/img/friends/owlexa.jpeg' %}" width="80px" height="85px"></span>
      <marquee><small>www.owlexa.co.id</small></marquee>
    </div>
    <!--end footer-->

    <!--modal-->
    <div id="modal_antrian" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!--modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <div id="modaltest">test</div>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
          </div>
        </div>
        <!--modal content end-->
      
      </div>
    </div>
    <!--modal end-->

   		<script type="text/javascript">
        // function enableBtn(){
        //   setTimeout(function(){
        //     $('.btn').each(function(){
        //       $(this).removeAttr("disabled");
        //     });
        //   },5000);
        // }
        // function onSuccess(data){
        //   if(data.is_ok){
        //     alert('No Antrian : '+ data.no_antrian) ;
        //     enableBtn();
        //   }
        //   console.log(data);
        // }
        // function onFailure(data){
        //   console.log(data);
        //   enableBtn();
        // }
        $(document).ready(function(){
            var btn_cls ='btn', attr_kode_layanan='kodelayanan', element_no_antrian_id='no_antrian',element_layanan_id='layanan_id', element_nama_layanan_id='nama_layanan'
            NoTiketGenerator.init(btn_cls, attr_kode_layanan, element_no_antrian_id, element_layanan_id, element_nama_layanan_id);
            NoTiketGenerator.attachEvent2ElementbyClass();


        })
   			
   		</script>

   </body>
  </html>