<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    {%load staticfiles%}
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery-1.9.1.js' %}"></script>
    <script src="{% static 'antrian/js/monitor.js' %}"></script>    
   </head>
   <style type="text/css">
      body { 
        padding-top: 10px;
      }
      body .container {
        width: 1300px;
      }
      .row {
        margin-right: 0px;
        margin-left: 0px;
      }
      header .navbar .col-md-4 {
        padding-top: 10px;
        text-align: center;
      }
      content .row {
        padding-top: 60px;
      }
      content #tbody td {
        vertical-align: middle;
      }
      .btn-primary {
        color:blue;
        background-color: white;
      }
      .btn-warning {
        color:brown;
        background-color: white;
      }
      .label-current-antri {
        font-size: 100px;
      }
      th {
        text-align: center;
      }
      td {
        text-align: center;
      }

   </style>
<body>
 <!-- <div class="container">-->
      <input type="hidden" id="kodeloket" value="{{userloket.layanan.kode_poli}}">

      <header>
      <div class="row">
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="col-md-4">
            <label>User : {{user.username}} </label>          
          </div>
          <div class="col-md-4">
            <label>Layanan : {{userloket.layanan.nama}} </label>          
          </div>
          <div class="col-md-4">
            <label>Nama Loket: {{userloket.nama_loket}} </label>          
          </div>
        </nav>
      </div>
      </header>
      
      <!-- starting content -->
      <content>
      <div class="row">
        <div class="col-md-7">
          <div class="col-md-10">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <b>PANEL ANTRIAN</b>
              </div>
              <div class="panel-body">
                <table class="table table-striped table-hover">
                  <thead>
                    <tr>
                      <th>No Antrian</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody id="tbody">
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-success">
            <div class="panel-heading">
              <b>ANTRIAN DIPROSES</b>
            </div>
            <div class="panel-body">
              <div class="col-md-8">
                <label class="label-current-antri" id='current_no_antrian' style="color: green;">-</label>
                <p>
                  Server Time: <label id='server_time'></label>
                </p>
              </div>
              <div class="col-md-4">
                <button class="btn btn-block btn-primary currentantri" action='panggil' antrian_id=0 id='btn_current_panggil'>Panggil</button><br/><br>
                <button class="btn btn-block btn-warning currentantri" action='tunda' antrian_id=0  id='btn_current_tunda' >Tunda..</button><br/><br>
                <button class="btn btn-block btn-danger currentantri" action='done' antrian_id=0 id='btn_current_done' >Selesai</button><br/>
              </div>
            </div>
          </div>
          <div class="panel panel-danger">
            <div class="panel-heading">
              <b>ANTRIAN DITUNDA</b>
            </div>
            <div class="panel-body">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>No Antrian</th>
                    <th>Status</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody id="tbodyterakhir">
                  <tr><td>200</td><td>3</td><td><button class="btn">Reset</button></td></tr>
                </tbody>
              </table>
            </div>
          </div>
        <!--</div> div container-->
  </div>
   		<script type="text/javascript">
        var kode_poli="{{userloket.layanan.kode_poli}}";   		

   			$(document).ready(function(){
   				Loket.runLoket(kode_poli);
   				
   			});
   		</script>

</body>
</html>