<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto+Mono&effect=shadow-multiple">
   {%load staticfiles%}
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery-1.9.1.js' %}"></script>
    <script src="{% static 'antrian/js/common.js' %}"></script>
    <script src="{% static 'antrian/js/monitor2.js' %}"></script>
   </head>
   <style type="text/css">
      body {
        background-color: #CECECE;
        font-family: 'Roboto Mono';
        font-size: 50px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
      }
      table {
        width: 100%;
      }
      table thead, th, .primary td {
        border-style: solid solid solid solid;
        border-color: #F5F5F5;
        border-width: thin;
      }
      table th, td {
        text-align: center;
      }
      table {
        box-shadow: 2px 2px 5px grey;
      }
      thead {
        background-color: rgb(0, 181, 216);
      }
      .primary tbody .no_antrian {
        font-size: 100px;
        color: black;
      }
      .primary tbody #nama_loket {
        font-size: 30px;
      }
      .well {
        box-shadow: 5px 5px 8px grey;
      }
      .sidebar table tbody {
        background-color: none;
      }
      .logo-bottom {
        position: fixed;
        left: 0px;
      }
   </style>
   <body>
   <!-- header -->
    <div class="well font-effect-shadow-multiple">
      Antrian Counter
    </div>
   <!-- header end -->

   <!--content start-->
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <table class="primary">
            <thead>
              <tr>
                <th colspan="2">Antrian</th>
              </tr>
              <tr style="font-size:30px;background-color:white">
                <th style="width:50%">Saat ini</th>
                <th style="width:50%">Selanjutnya</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td id="no_antrian" class="no_antrian font-effect-shadow-multiple">9999</td>
                <td class="no_antrian font-effect-shadow-multiple"><div id="next_antrian">2</div></td>
              </tr>
              <tr>
                <td colspan="2"><div id="nama_loket"></div></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--start sidebar info-->
        <div class="col-md-2 sidebar">
          <table>
            <thead>
              <tr>
                <th>DATE</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><small><div id="month">19-09</div></small></td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td><div id="year">2015</div></td>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="col-md-4 sidebar">
          <table>
            <thead>
              <tr>
                <th>Video</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <video width="100%" id="video" controls >
                    <source src="{% static 'antrian/maroon5.mp4' %}" type="video/mp4">
                    <source src="mov_bbb.ogg" type="video/ogg">
                    Your browser does not support HTML5 video.
                  </video>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td>=========</td>
              </tr>
            </tfoot>
          </table>
        </div>
        <!--end sidebar info-->
      </div>
    </div>
    <!--content end-->

    <!--start footer-->
    <div class="navbar navbar-default navbar-fixed-bottom">
      <span class="logo-bottom"><img src="{% static 'assets/img/friends/owlexa.jpeg' %}" width="80px" height="85px"></span>
      <marquee><small>www.owlexa.co.id</small></marquee>
   	</div>
    <!--end footer-->
   		
   		<script type="text/javascript"> 
        var date = new Date();
        document.getElementById("month").innerHTML = date.getDate() +'-'+ (date.getMonth()+1);
        document.getElementById("year").innerHTML = date.getFullYear();

        var video = document.getElementById("video");
        video.onended = function() {
          video.play();
        };

        var kode_poli="{{userloket.layanan.kode_poli}}";      

   			$(document).ready(function(){   				
          MonitorModel.subscribeMonitor(kode_poli)
        });
   		</script>

   </body>
  </html>